body {
  margin: 0;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #E7E5E4;
  color: #252525;
}

header {
  text-align: center;
  margin-bottom: 2rem;
  background-color: #D7D5D3;
  padding: 1rem;
  border-bottom: 2px solid #B2B0AE;
}

.highlight {
  color: #A89283;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;  /* Add 3 column (two sides and a middle) small big small */
  gap: 2rem;  /* rem - more scalable and adaptable*/
  background-color: #D7D5D3;
  padding: 2rem;
  border-radius: 12px;
}

.about-box {
  background-color: #E7E5E4;
  border: 1px solid #B2B0AE;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.about-box h2 {
  color: #A89283;
  margin-bottom: 0.5rem;
}

.about-box p {
  color: #252525;
  line-height: 1.5;
}

.separator-grid {
  background-color: #A89283;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.separator-grid h2 {
  color: #252525;
  margin-bottom: 1rem;
}

.separator-grid p {
  color: #252525;
  text-align: center;
  margin-bottom: 1.5rem;
}

.separator-grid img {
  width: 80%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}
